<nav class="navbar">
    <ul class="navlinks">
      <li><a href="/mangas">Mangas</a></li>
      <li><a href="/genres">Genres</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/mangas/create">New Manga</a></li>
      <li><a href="/genres/create">New Genre</a></li>
    </ul>
</nav>